<%- include('partials/header') %>
    <main>
        <h1>
            <%= title %>
        </h1>
        <p>Here are a few of our partner categories:</p>
        <ul>
            <% if (typeof categories !== 'undefined' && categories && categories.length > 0) { %>
                <% categories.forEach((category) => { %>
                    <li>
                        <strong><%= category.category_id %></strong>: <%= category.name %>
                    </li>
                <% }) %>
            <% } else { %>
                <p>No Categories found.</p>
            <% } %>
        </ul>
    </main>
<%- include('partials/footer') %>
