<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>

    <% if (project) { %>
        <section>
            <p><strong>Date:</strong> <%= new Date(project.date).toLocaleDateString('en-US') %></p>
            <p><strong>Location:</strong> <%= project.location %></p>
            <p><strong>Organization:</strong> <%= project.organization_name %></p>
            <p><strong>Description:</strong> <%= project.description %></p>
        </section>
    <% } %>
</main>
<%- include('partials/footer') %>